<h1>問い合わせ一覧</h1>

<div class="col-9">
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope = "col">会員ID</th>
            <th scope = "col">ニックネーム</th>
            <th scope = "col">メールアドレス</th>
            <th scope = "col">内容</th>
        </tr>
    </thead>

    <tbody>
      <% @inquiry.each do |inquiry| %>
      <tr>
        <td><%= inquiry.user.id %></td>
        <td><%= link_to inquiry.user.nickname, admin_user_path(inquiry.user.id) %></td>
        <td><%= inquiry.user.email %></td>
        <td><%= inquiry.opinion %></td>
      </tr>
      <% end %>
</tbody>
</table>
</div>