<div class = " col-md-5 col-10 mx-2 mx-sm-auto text-center rounded px-1 my-5">
  <h1>退会のご案内</h1>

  <h2>退会すると以下のデータ内容が削除されます。</h2>
  <h3>・投稿した日記</h3>
  <h3>・いいねした日記</h3>
  <h3>・お気に入りに登録したお店</h3>
  <h3>・フォローした投稿者</h3>
  <h2>よろしいですか？</h2>


  <%=link_to customer_my_page_path, class: "btn btn-sm nav-link btn-outline-dark" do %>
  <h3>退会しない</h3>
  <% end %>

  <%=link_to customer_path(current_user.id), class: "btn btn-sm nav-link btn-outline-secondary", method: :delete, "data-confirm" => "本当に退会しますか？" do %>
  <h3>退会する</h3>
  <% end %>
</div>