
  <div class = "border border-dark bg-white col-md-5 mx-sm-auto text-center my-5">
  <h2>問い合わせ</h2>

  <h3>お店の情報や機能の要望等の</h3>
  <h3>ご連絡お待ちしております。</h3>
  <h5>※100%反映されるわけではありません。</h5>

  <%= form_with model: @inquiry, url: inquiries_path do |f| %>

  <label for="inputName" class="col-sm-2 h3">ご意見</label>
  <br><%= f.text_area :opinion, class: 'form-control',size: "20x10" %>

  <%= f.hidden_field :inquiry, value: @inquiry %>


  <br><%= f.submit '送信', class:"btn btn-success" %>

  <% end %>
  </div>
</div>
