<h1>フォロー一覧</h1>

<% if @users.exists? %>
  <% @users.each do |user| %>

    <h3>name</h3>
    <h3><%= link_to user.nickname, other_path(user) %></h3>
  <% end %>

  <% else %>
    <p>ユーザーはいません</p>
<% end %>

<h3>フォローユーザーの日記</h3>
<h3>フォローユーザーをクリックして</h3>
<h3>日記を覗いてみよう！</h3>