@use '~bootstrap/scss/bootstrap';

.nice_button{
    border: none;
    background: transparent;
}

.app-logo-wrapper {
    position: relative;
}

// ヘッダーのロゴを真ん中にする
.app-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

// みんなの投稿のスクロールを縦限定に指定
.overflow-y-auto{
    overflow-y: auto;
}
// 横スクロールは削除
.overflow-x-hidden{
    overflow-x: hidden;
}

// 太枠作成
.border-10 {
    border-width: 10px !important;
}

// ヘッダー高さ変更
nav.navbar{
    height: 130px;
}


// 宿泊施設背景
.accommodation-background{
     background-color: #fff;
     background-image:
     radial-gradient(#007bff 20%, transparent 20%),
     radial-gradient(#007bff 20%, transparent 20%);
     background-size: 50px 50px;
     background-position: 0 0, 30px 30px;

}

// ショッピングモール背景
.shoppong-background{
    background-color: #fff;
    background-image:
    radial-gradient(#ffc107 20%, transparent 20%),
    radial-gradient(#ffc107 20%, transparent 20%);
    background-size: 50px 50px;
    background-position: 0 0, 30px 30px;
}

// アクティビティ背景
.activity-background{
    background-color: #fff;
    background-image:
    radial-gradient(#28a745 20%, transparent 20%),
    radial-gradient(#28a745 20%, transparent 20%);
    background-size: 50px 50px;
    background-position: 0 0, 30px 30px;
}

// マイページ背景
.mypage-background{
    background-color: #fff;
    background-image:
    radial-gradient(#17a2b8 20%, transparent 20%),
    radial-gradient(#17a2b8 20%, transparent 20%);
    background-size: 50px 50px;
    background-position: 0 0, 30px 30px;
}

// その他背景
.ets-background{
    background-color: #fff;
    background-image:
    radial-gradient(#6c757d 20%, transparent 20%),
    radial-gradient(#6c757d 20%, transparent 20%);
    background-size: 50px 50px;
    background-position: 0 0, 30px 30px;
}

// 保存ボタンの大きさ変更
.button{
font-size: 30px;
height: 50px;
width: 100px;
}
