@use '~bootstrap/scss/bootstrap';

.nice_button{
    border: none;
    background: transparent;
}

.app-logo-wrapper {
    position: relative;
}

// ヘッダーのロゴを真ん中にする
.app-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

// みんなの投稿のスクロールを縦限定に指定
.overflow-y-auto{
    overflow-y: auto;
}
// 横スクロールは削除
.overflow-x-hidden{
    overflow-x: hidden;
}

// 太枠作成
.border-5 {
    border-width: 5px !important;
}

// ヘッダー高さ変更
nav.navbar{
    height: 130px;
}
