<div class = "border border-dark col-md-5 col-10 mx-2 mx-sm-auto text-center rounded px-1 my-5">
<h2>新規投稿</h2>

<%= form_with model: @tweet, url: tweets_path do |f| %>

<label for="inputName" class="col-sm-2">画像</label>
        <%= f.file_field :image, accept: "image/*" %><br/>


<label for="inputName" class="col-sm-2">内容文</label>
        <%= f.text_area :sub_sentence, class: 'form-control',size: "10x5" %>





<%= f.submit '投稿', class: "btn btn-success" %>

<% end %>
</div>

